@mixin flex ($justufy, $align) {
    display: flex;
    justify-content: $justufy;
    align-items: $align;
}

// MEDIA QUERY

@mixin small () {
    @media screen and (max-width: $breakpoint-small) {
      background-color: rebeccapurple;
    }
}